 <section style="background: url(img/mexicoCity.jpg);">
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-7 col-sm-6 text-center mb-xs-24">
                    <div class="panel panel-default sombraDinamica">
                        <div class="panel-heading headPanel">
                            <span class="verdeMexicano">SOBRE</span> <span class="rojoMexicano">NOSOTROS</span>
                        </div>
                        <div class="panel-body">
                            <div class=" text-center">
                                <div id="video" style="width: 100%; height: 300px;" ></div>

                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1 text-center">
                    <h3 style="color:white">Información</h3>
                    <hr>
                    <p> <div id="footnotediv" style="font-size: 30px; color: white;" class="sample-show-hide"></div> </p>
                </div>
            </div>
        </div>
 </section>

 <section class="image-bg overlay">
     <div class="background-image-holder">
         <img alt="Background" class="background-image" src="img/cover12.jpg">
     </div>
     <div class="container">
         <div class="row">
             <div class="col-sm-12 text-center">
                 <h2 class="mb16">Quiénes Somos</h2>
                 <p class="lead mb64">Queremos un México mas seguro.</p>
             </div>
         </div>

         <div class="row">
             <div class="col-sm-4">
                 <div class="feature feature-1 boxed">
                     <div class="text-center">
                         <i class="icon ti ti-thumb-up"></i>
                         <h5 class="uppercase">Concepto</h5>
                     </div>
                     <p>
                         Quisimos hacer una página que estuviera al alcance de todas las personas, para ayudarlos a denunciar los problemas que generalmente no pueden reportar.</p>
                 </div>

             </div>
             <div class="col-sm-4">
                 <div class="feature feature-1 boxed">
                     <div class="text-center">
                         <i class="ti-infinite icon"></i>
                         <h5 class="uppercase">Brindamos posibilidades</h5>
                     </div>
                     <p>
                         Brindamos posibilidades a la gente de ayudarse los unos a los otros, queremos que esta pagina se convierta en algo que te beneficie a ti y a tu comunidad.</p>
                 </div>

             </div>
             <div class="col-sm-4">
                 <div class="feature feature-1 boxed">
                     <div class="text-center">
                         <i class="ti-heart icon"></i>
                         <h5 class="uppercase">Trabajamos juntos</h5>
                     </div>
                     <p>
                         Según datos del INEGI, los crímenes reportados son muy escasos <a href="http://54.159.132.224/ThreeD3.js/">(ver aquí)</a> , ya sea por que a la gente le da miedo hacerlo o por que no tiene el tiempo, esta página te brinda la posibilidad.&nbsp;</p>
                 </div>

             </div>
         </div>

     </div>

 </section>




 <script src="js/external/jquery.min.js"></script>
 <script src="js/external/bootstrap.min.js"></script>
 <script src="js/external/flexslider.min.js"></script>
 <script src="js/external/parallax.js"></script>
 <script src="js/external/scripts.js"></script>