 <section style="background: url(img/mexicoCity.jpg);">
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-7 col-sm-6 text-center mb-xs-24">
                    <div class="panel panel-default sombraDinamica">
                        <div class="panel-heading headPanel">
                            <span class="verdeMexicano">SOBRE</span> <span class="rojoMexicano">NOSOTROS</span>
                        </div>
                        <div class="panel-body">
                            <div class=" text-center">
                                <div id="video" style="width: 100%; height: 300px;" ></div>

                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1 text-center">
                    <h3 style="color:white">Información</h3>
                    <hr>
                    <p> <div id="footnotediv" style="font-size: 30px; color: white;" class="sample-show-hide"></div> </p>

                </div>
            </div>
        </div>
 </section>
