<section class="image-slider slider-all-controls controls-inside parallax pt0 pb0 height-70" >
	<ul class="slides">
		<li class="overlay image-bg">
			<div class="background-image-holder">
				<img alt="image" class="background-image" src="img/mexicoCity.jpg">
			</div>
			<div class="container v-align-transform">
				<div class="row text-center">
					<div class="col-md-10 col-md-offset-1">
						<h2 class="mb-xs-16">Denuncia - MX</h2>
						<p class="lead mb40">Denuncia - MX es un proyecto sin ánimo de lucro que te permite tener notificaciones en tiempo real de delitos cerca de tu comunidad,&nbsp;contribuye y recibe notificaciones. Ayúdanos a mantener la ciudad segura.</p>
						<a class="btn btn-lg" href="/login">Iniciar sesión</a>
						<a class="btn btn-lg btn-filled" href="/registrarse">Registrate</a>
					</div>
				</div>

			</div>

		</li>
	</ul>
</section><section>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="feature">
					<i class="icon fade-3-4 inline-block mb16 ti ti-user"></i>
					<h4>Únete</h4>
					<p>Únete al cambio en México, no te quedes callado, denuncia y alerta a las personas de tu comunidad</p>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="feature">
					<i class="icon fade-3-4 inline-block mb16 ti ti-loop"></i>
					<h4>Contribuye</h4>
					<p>Comparte información sobre posibles délitos, actos de violencia, corrupción, o injusticias</p>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="feature">
					<i class="icon fade-3-4 inline-block mb16 ti ti-eye"></i>
					<h4>Entérate</h4>
					<p>
						Entérate de lo que está pasando en tu comunidad, mantente alerta, recibe notificaciones en tiempo real.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="js/external/jquery.min.js"></script>
<script src="js/external/bootstrap.min.js"></script>
<script src="js/external/flexslider.min.js"></script>
<script src="js/external/parallax.js"></script>
<script src="js/external/scripts.js"></script>