<div layout="column"  ng-cloak style="height: 100%">
    <div layout="row" flex>
        <!-- Left sidebar -->
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-xs')"
                md-whiteframe="4"
        >
            <!-- Title -->
            <md-toolbar md-theme="docs-mx">
                <h1 class="md-toolbar-tools" style="color:white">Bienvenido, {{vm.usuario.nombre}}</h1>
            </md-toolbar>
            <!-- End title -->

            <!-- Content inside the sidebar -->
            <md-content layout-padding style="overflow-x: hidden">

                <!-- Sin editar -->
                <div ng-if="!vm.editando">
                    <h4>Información Personal</h4>
                    <p>
                        <b>Nombre: </b>{{vm.usuario.nombre}} {{vm.usuario.apellidoPaterno}} {{vm.usuario.apellidoMaterno}}
                        <br>
                        <b>E-mail: </b>{{vm.usuario.email}}
                        <br>
                        <b>Nombre de usuario: </b>{{vm.usuario.nombreUsuario}}
                    </p>
                    <hr>
                    <h4>Tu delegación</h4>
                    <p>
                        <b>Nombre:</b> {{vm.delegacion.nombre}}
                        <br>
                        <b>Domicilio:</b> {{vm.delegacion.domicilio}}
                        <br>
                        <b>Teléfono delegación: </b>{{vm.delegacion.telefonoDelegacion}}
                        <br>
                        <b>Teléfono Servicios: </b>{{vm.delegacion.telefonoServicios}}
                        <br>
                        <b>Teléfono Seguridad: </b>{{vm.delegacion.telefonoSeguridad}}
                        <br>
                        <b>Protección Civil: </b>{{vm.delegacion.telefonoProteccionCivil}}
                    </p>
                </div>
                <!-- Termina sin editar -->

                <!-- Editando -->
                <md-content ng-if="vm.editando" md-theme="docs-mx">
                    <form name="registro" novalidate>
                        <!-- Nombre -->
                        <md-input-container class="md-block">
                            <label>Nombre</label>
                            <input required name="nombre" ng-model="vm.usuario.nombre">
                            <div ng-messages="registro.nombre.$error">
                                <div ng-message="required">Ingresa tu nuevo nombre</div>
                            </div>
                        </md-input-container>
                        <!-- Termina nombre -->

                        <!-- Apellido Paterno -->
                        <md-input-container class="md-block">
                            <label>Apellido Paterno</label>
                            <input required name="apellidoPaterno" ng-model="vm.usuario.apellidoPaterno">
                            <div ng-messages="registro.apellidoPaterno.$error">
                                <div ng-message="required">Ingresa tu nuevo apellido paterno</div>
                            </div>
                        </md-input-container>
                        <!-- Termina Apellido Paterno -->

                        <!-- Apellido Materno -->
                        <md-input-container class="md-block">
                            <label>Apellido Materno</label>
                            <input name="apellidoMaterno" ng-model="vm.usuario.apellidoMaterno">
                        </md-input-container>
                        <!-- Termina Mombre -->

                        <!-- Password -->
                        <md-input-container class="md-block">
                            <label>Contraseña</label>
                            <input  type="password" required name="password" ng-model="vm.usuario.password">
                            <div ng-messages="registro.password.$error">
                                <div ng-message="required">Por favor ingresa una nueva contraseña</div>
                            </div>
                        </md-input-container>
                        <!-- Password -->

                        <md-button class="md-raised md-primary" ng-click="vm.putEditar()">Guardar</md-button> <md-button class="md-raised md-warn" ng-click="vm.toggleEditar()">Cancelar</md-button>
                    </form>
                </md-content>
                <!-- Termina editando -->


                <p class="text-center">
                    <md-button class="md-raised md-warn" ng-click="vm.toggleEditar()" ng-if="!vm.editando">Editar mis datos</md-button>
                </p>


            </md-content>
            <!-- End Content inside the sidebar -->
        </md-sidenav>
        <!-- End Left sidebar -->

        <!-- Contenido dentro de el panel -->
        <md-content flex layout-padding style="overflow-x: hidden">
            <div class="row">
                <div class="col-xs-4">
                    <h4>Newsfeed </h4>
                    <hr>
                    <div layout="column" layout-align="top center">
                        <div>
                            <md-button ng-click="vm.toggleLeft()" class="md-raised md-primary" hide-gt-md>
                                Información
                            </md-button>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default sombraDinamica">
                        <div class="panel-heading text-center tiempoRealPerfil">Denuncias en tu delegación</div>
                        <div class="panel-body">

                            <section style="padding: 0px;">
                                <md-progress-linear md-mode="indeterminate" md-theme="docs-mx"></md-progress-linear>
                                <md-list layout-padding>
                                    <md-list-item class="md-3-line" ng-repeat="siniestro in vm.siniestros">
                                        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
                                        <img class="md-avatar" ng-src="{{siniestro.imagenes[0]}}" ng-if="siniestro.imagenes[0]">
                                        <img class="md-avatar" ng-src="img/default.jpg" ng-if="!siniestro.imagenes[0]">
                                        <div class="md-list-item-text">
                                            <h3><a href="/siniestro/{{siniestro._id}}" style="color: rgb(76,175,80) !important">{{siniestro.nombre}}</a></h3>
                                            <h4>{{siniestro.domicilio}}</h4>
                                            <p>
                                                {{siniestro.descripcion}}
                                            </p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default sombraDinamica">
                        <div class="panel-heading text-center tiempoRealPerfil">Tus denuncias</div>
                        <div class="panel-body">
                            <section style="padding: 0px;">
                                <md-list layout-padding>
                                    <md-list-item class="md-3-line" ng-repeat="siniestroPropio in vm.siniestrosPropios">
                                        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
                                        <img class="md-avatar" ng-src="{{siniestroPropio.imagenes[0]}}" ng-if="siniestroPropio.imagenes[0]">
                                        <img class="md-avatar" ng-src="img/default.jpg" ng-if="!siniestroPropio.imagenes[0]">
                                        <div class="md-list-item-text">
                                            <h3><a href="/siniestro/{{siniestroPropio._id}}" style="color: rgb(76,175,80) !important">{{siniestroPropio.nombre}}</a></h3>
                                            <h4>Delegacion: {{siniestroPropio.delegacion.nombre}}</h4>
                                            <p>
                                                Fecha de publicación: {{siniestroPropio.fechaCreacion}}
                                            </p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>





