
.verdeMexicano{
    color: #229300;
}

.rojoMexicano{
    color: #FF0000;
}

.fondoBlanco{
    background-color: #ffffff !important;
}

.sombra{
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
}

.tiempoRealDelegacion{
    color: #fff !important;
    background-color: #F44336 !important;
    border: none !important;
    border-radius: 0px !important;
}


.tiempoRealPerfil{
    color: #fff !important;
    background-color: rgb(76,175,80) !important;
    border: none !important;
    border-radius: 0px !important;
}

.fondoRegistro {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
}

.stickyFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .fondoRegistro {
        left: 50%;
        margin-left: -512px;
    }
}

.headPanel{
        background-color:#ffffff !important;
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    |   font-size: 40px !important;
}
.spanChart{
    width: -moz-calc(100% - 370px);
    width: -webkit-calc(100% - 370px);
    width: calc(100% - 370px);
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
}


.sombraDinamica{
    transition: all 0.5s ease;

}

.sombraDinamica:hover{
    box-shadow: rgba(0,0,0,0.247059) 0px 14px 45px, rgba(0,0,0,0.219608) 0px 10px 18px;
}

