
.verdeMexicano{
    color: #229300;
}

.rojoMexicano{
    color: #FF0000;
}

.fondoBlanco{
    background-color: #ffffff !important;
}

.sombra{
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
}

.tiempoRealDelegacion{
    color: #fff !important;
    background-color: #F44336 !important;
    border: none !important;
    border-radius: 0px !important;
}

.fondoRegistro {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
}

.stickyFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .fondoRegistro {
        left: 50%;
        margin-left: -512px;
    }
}



